* {
  font-weight: 400;
}

header {
  background-color: #1e1d24;
  color: aliceblue;
  padding: 10px 20px 10px 20px;
}

main {
  padding: 10px 30px 300px 30px;
  color: aliceblue;
  background-color: #23272c;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.react-icon {
  width: 70px;
}

.list-style {
  font-weight: 600;
}

.espaced {
  margin-top: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;  
}

.nav-items {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #6cdaee;
}

a:hover {
  color: #3f3e49;
}

.list-style > li::marker {
  color: #6cdaee;
}
